---
import { getCollection } from "astro:content";
import ButtonLink from "../components/ButtonLink.astro";
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import HorizontalSeparator from "../components/HorizontalSeparator.astro";

const heading = "My Projects";
// query projects
const projects = await getCollection("project");
console.log(projects);
---
<Layout>
    <Section>
        <h1>{heading}</h1>
        {
            projects.map((p) => (
                <div class="card">
                    <img src={p.data.image} alt={p.data.title} />
                    <div>
                        <h3>{p.data.title}</h3>
                        <p class="description">{p.data.description}</p>
                        <div class="button-container">
                            <ButtonLink
                                href={`${p.data.githubURL}`}
                                text="View on Github"
                                variant="secondary"
                            />
                            <ButtonLink
                                href={`${p.data.liveSiteURL}`}
                                text="View Live"
                            />
                        </div>
                    </div>
                </div>
                                    <HorizontalSeparator></HorizontalSeparator>

            ))
        }
    </Section>
</Layout>
<style>
    .card {
        overflow: hidden;
        display: flex;
        gap: 40px;

        h3 {
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 20px;
        }

        .description {
            margin-bottom: 40px;
        }

        img {
            height: 200px;
            width: 200px;
            object-fit: cover;
        }

        .button-container {
            display: flex;
            gap: 10px;
            margin-top: 10px;
        }

        @media (max-width: 800px) {
            & {
                flex-direction: column;
            }

            img {
                align-self: center;
            }
        }

        @media (max-width: 600px) {
            .button-container {
                flex-direction: column;
                gap: 10px;
            }
        }
    }
</style>
