---
interface Props {
    className: 'btn',
    href: string;
    text: string;
    variant?: 'btn-primary' | 'btn-secondary';
    isDownload?: boolean;
}
const {className, href, text, variant='btn-primary', isDownload} = Astro.props;

let classes = className;
classes += ` ${variant}`;
---

{isDownload &&
    <a class={classes} href={href} download>{text}</a>
}

{!isDownload &&
    <a class={classes} href={href}>{text}</a>
}

<style>
    .btn-primary {
    color: white;
    background-color: var(--primary);
    
  }

  .btn-secondary {
    color: var(--primary);
    background-color: white;
    border: 2px solid var(--primary);
  }

  .btn {
    flex-grow: 1;
    padding: 0.75em 1.25em;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (min-width: 768px) {
    .hero-buttons__wrapper {
      flex-direction: row;
    }

    /* So buttons are proportionally equal */
    .btn {
      flex-basis: 200px;
    }
  }
</style>