---
import Section from "./Section.astro";
import SectionHeader from "./SectionHeader.astro"
import { getCollection } from "astro:content";
// Get all 'src/data/projects.json' entries?
const projects = await getCollection('project');
console.log(projects);

const heading = "My Projects";
const cta = { text: 'View All', href: '/projects' };
---
<Section dark={true}>
  <SectionHeader cta={cta} heading={heading}/>

  <div class="projects-container">
    {
      projects.map(project => (
        <div class="card">
          <img src={project.data.image} alt={project.data.title}/>
          <h3><a href={project.data.liveSiteURL}>{project.data.title}</a></h3>
        </div> 
      ))
    }
    <!-- dynamically render project cards -->
    <!-- each card has a class of card, an image, and an h3 that links to the liveSiteURL -->
  </div>
</Section>

<style>

  .projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    
    .card {
      overflow: hidden;
      transition: transform 0.3s;
      display: flex;
      flex-direction: column;
    }

    h3 {
      margin-top: 20px;;
    }
      
      a {
        text-decoration: none;
        color: var(--dark);
        font-weight:  600;
        font-size: 18px;
      }
      
      @media (max-width: 700px) {
        & {
          grid-template-columns: 1fr;
        }
        
      
    }
  }

</style>