---
import { Picture } from "astro:assets";

import Section from "./Section.astro";
import SectionHeader from "./SectionHeader.astro"
import { getCollection } from "astro:content";
// Get all 'src/data/projects.json' entries?
const projects = await getCollection('project');

const heading = "My Projects";
const cta = { text: 'View All', href: '/projects' };


// To import images in bulk from a string path (like the one in your Content Collections project.data.image), you use Vite’s import.meta.glob.
// Astro uses Vite under the hood, and this allows you to create a "map" of all images in a folder so you can look them up by their string path.
// In your Astro component (or a utility file), use import.meta.glob to grab all images in your src/images/ directory:


// 1. Get all images from your images folder
// Adjust the path to match where your images actually live
// const images = import.meta.glob<{ default: ImageMetadata }>('/src/images/projects/*.{jpeg,jpg,png,gif,webp}');

// // 2. Get your project data (example)
// const { project } = Astro.props;

// // 3. Find the specific image matching the string path from your data
// // project.data.image might be "/src/images/projects/project-1.png"
// const imagePath = project.data.image;

// if (!images[imagePath]) {
//   throw new Error(`"${imagePath}" does not exist in glob: "src/images/projects/*.{jpeg,jpg,png,gif,webp}"`);
// }

---
<Section dark={true}>
  <SectionHeader cta={cta} heading={heading}/>

  <div class="projects-container">
    {

      projects.map(project => (
        <div class="card">
            <Picture
              class="img-fluid"
              fetchpriority={project.data.priority ? "high" : "auto"}
              loading={project.data.priority ? "eager" : "lazy"}
              decoding={project.data.priority ? "sync" : "async"}

              formats={["avif", "webp"]}
              quality={80}
              src={project.data.image}
              alt={project.data.alt}
          />

          {/* <img src={project.data.image} alt={project.data.title}/> */}

          <h3><a href={project.data.liveSiteURL}>{project.data.title}</a></h3>
        </div> 
      ))
    }
    <!-- dynamically render project cards -->
    <!-- each card has a class of card, an image, and an h3 that links to the liveSiteURL -->
  </div>
</Section>

<style>
  .img-fluid {
    height: auto;
    max-width: 100%;
  }
  .projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    
    .card {
      overflow: hidden;
      transition: transform 0.3s;
      display: flex;
      flex-direction: column;
    }

    h3 {
      margin-top: 20px;;
    }
      
      a {
        text-decoration: none;
        color: var(--dark);
        font-weight:  600;
        font-size: 18px;
      }
      
      @media (max-width: 700px) {
        & {
          grid-template-columns: 1fr;
        }
        
      
    }
  }

</style>